
@charset "UTF-8";

html{
    font-size:8px;
    line-height: 1.3;
}

p{
margin:2rem;
}

ul{
 color: black;


}

.body{
width: 80%;
margin: auto;
min-width: 920px;
}


.banner{
    
    width: auto;
    height: 220px;
    display: block;
    background-color: black;
    font-size: 4rem;
    text-align: left;
    padding: 3.5rem;
   color: white;
   position: relative;
   right: 8px;
   bottom: 8px;
}

#logo{
    width:175px;
    position:absolute;
    left:calc(4.5rem * 1.3);
    top:calc(2rem * 1.3);
}


#title-text{
    position: absolute;
    top:0;
    padding-left: 28rem;
}


.section-1{

    width: auto;
    display: block;
    background-color: black;
    font-size: 4rem;
    right: 8px;
    padding: 3rem;
   color: white;
   position: relative;
   margin-top: 3rem;
}



a{
color:black
}

/* when <a></a> is hovered by mouse*/
a:hover{
color:rgb(143, 143, 143);
}

/* when <a></a> is clicked*/
a:active{
color:blue;
}

a:visited{
color:black;
}



.my-link-titles{
    font-size: 2.5rem;
}

.my-unit{
    display: inline-block;
   margin-left: 2rem;
   position: relative;
}

.my-pics{
    width: 300px;
    height: 300px;
    margin-top: 4rem;
    margin-right: 4rem;
    border: 2px solid rgb(0, 0, 0);
}



.class-unit{
 display: inline-block;
 margin-left: 2rem;
}

.class-pic-1{
    width: 300px;
    height: 300px;
    margin-top: 3rem;
    margin-right: 4rem;
    border: 2px solid rgb(0, 0, 0);
}


.class-pic-2{
    width: 300px;
    height: 300px;
    margin-top: 3rem;
    border: 2px solid rgb(0, 0, 0);
}

.class-link-titles{
    font-size: 2.5rem;
}

.section-2{

     width: auto;
    display: block;
    background-color:  black;
    font-size: 4rem;
    right: 8px;
    padding:3rem;
   color: white;
   position: relative;
   margin-top: 3rem;
   margin-bottom: 1rem;
}






