
@charset "UTF-8";

html{
    font-size:8px;
    line-height: 1.3;
}


.banner{
    
    width: auto;
    height: 220px;
    display: block;
    background-color: black;
    font-size: 4rem;
    text-align: left;
    padding: 3.5rem;
   color: white;
   position: relative;
   right: 8px;
   bottom: 8px;
}

#logo{
    width:175px;
    position:absolute;
    left:calc(4.5rem * 1.3);
    top:calc(2rem * 1.3);
}


#title-text{
    position: absolute;
    top:2rem;
    padding-left: 30rem;
}


.section-1{

    width: auto;
    height: 4rem;
    display: block;
    background-color: black;
    font-size: 4rem;
    right: 8px;
    padding: 3rem;
   color: white;
   position: relative;
   margin-top: 3rem;
}

.my-link-titles{
    font-size: 2.5rem;
}

.my-unit{
    display: inline-block;
}

.my-pics{
    width: 300px;
    height: 300px;
    margin-top: 4rem;
    margin-right: 4rem;
    border: 2px solid rgb(0, 0, 0);
}



.class-unit{
 display: inline-block;
}

.class-pic-1{
    width: 300px;
    height: 300px;
    margin-top: 3rem;
    margin-right: 4rem;
    border: 2px solid rgb(0, 0, 0);
}


.class-pic-2{
    width: 300px;
    height: 300px;
    margin-top: 3rem;
    border: 2px solid rgb(0, 0, 0);
}

.class-link-titles{
    font-size: 2.5rem;
}

.section-2{

     width: auto;
    height: 4rem;
    display: block;
    background-color:  black;
    font-size: 4rem;
    right: 8px;
    padding:3rem;
   color: white;
   position: relative;
   margin-top: 9rem;
   margin-bottom: 1rem;
}

 /* background-color: rgb(112, 195, 195) */





