@charset "UTF-8";

html{
    font-size:8px;
    line-height:2rem;
}

@font-face {
  font-family: "skia";
  src: url("fonts/Skia.ttf");
}


.background{
    width: 450px;
    height: 700px;
    display: block;
    background-color: rgb(68, 65, 69);
    font-size:;
    text-align:;
    color: white;
    position: relative;
    
    
} 


.circle{
 font-size: 30px;
background-color: rgb(138, 127, 94);
height: 70px;
  width: 70px;
  display: inline-block;
  padding:;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 1rem;
  border-radius: 100px;}

  .vertical-lines{
    width: 2px;
    height:70px;
    display: inline-block;
    background-color:  rgb(138, 127, 94);
  }


  .logo{
    width: 125px;
    height: 100px;
    display: inline-block;
    margin-left: 5.5rem;
    margin-right: 5.5rem;
    margin-top: ;
}


.logo>img{
width:100%;
height:100%;
display: inline-block;
margin-top:;
}


.corner-info{
    font-size: ;
    display:inline-block;
    margin-left: 1rem;
    margin-right: 2rem;
}

.brunch{
    font-size: 2rem;
    position: relative;
    text-align: center;
    right: 2rem;
}

.brunch-line{
     width: 415px;
    height:3px;
    display: ;
    background-color:  rgb(138, 127, 94);
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}


.classics{
    font-size: 3rem;
    position: relative;
    text-align: center;
    right: 2rem;
    margin: .5rem;
}

.served{
     font-size:1.5rem;
    position: relative;
    text-align: center;
    right: 2rem;
    margin-bottom: 1rem;
}

.menu-titles{
    margin-left: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.descriptions{
    margin-left: 2rem;
    margin-right: 2rem;
}

.favorates-box{
    width: 415px;
    height: 215px;
    display: block;
    margin-left: 2rem;
    margin-top: 1.5rem;
    background-color: rgb(138, 127, 94);
    padding-top: .5rem;
    color: white;
    position: relative;
}

.bottom-left{
    display: inline-block;
    width: 215px;
    height: 80px;
}


.bottom-vertical-line{
     width: 2px;
    height:100px;
    display: inline-block;
    background-color:  rgb(138, 127, 94);
}


.bottom-right{
    display: inline-block;
     width: 215px;
    height: 80px;
    text-align: center;
}
.classics2{
    font-size: 2rem;
    position: relative;
    text-align:;
    right:;
    margin-left:2rem ;
    display:;
}

.classics3{
    font-size: 2rem;
    position: relative;
    text-align:;
    right:;
    margin-left:2rem ;
    line-height:.5rem;
}

.bottom-line{
    width: 450px;
    height: 25px;
    background-color:  rgb(138, 127, 94);
}

.bottom-line-info{
    text-align: center;
    margin: .5rem;
}

