@charset "UTF-8";

html{
    font-size:8px;
    line-height:2rem;
}


.background{
    width: 450px;
    height: 700px;
    display: block;
    background-color: rgb(68, 65, 69);
    color: white;
    position: relative;
} 


.circle{
height: 70px;
  width: 70px;
  display: inline-block;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 1rem;
}


  .circle>img{
    width:100%;
    height:100%;
    display: inline-block;
  }


  .vertical-lines{
    width: 2px;
    height:70px;
    display: inline-block;
    background-color: rgb(144, 129, 108);
  }


  .logo{
    width: 125px;
    height: 100px;
    display: inline-block;
    margin-left: 5.5rem;
    margin-right: 5.5rem;
}


.logo>img{
width:100%;
height:100%;
display: inline-block;
}


.corner-info{
    text-align: center;
    display:inline-block;
    margin-left: 1rem;
    margin-right: 2rem;
    margin-top: 1.5rem;
    line-height: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}



.brunch{
    font-size: 2.5rem;
    position: relative;
    text-align: center;
    right: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.brunch-line{
     width: 415px;
    height:4px;
    background-color: rgb(144, 129, 108);
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
}


.classics{
    font-size: 3rem;
    position: relative;
    text-align: center;
    right: 2rem;
    margin: .5rem;
      font-family: 'Courier New', Courier, monospace;
}

.classicss{
    font-size: 3rem;
    position: relative;
    text-align: center;
    right: 2rem;
    margin-bottom: 1.5rem;
      font-family: 'Courier New', Courier, monospace;
}

.served{
     font-size:1.5rem;
    position: relative;
    text-align: center;
    right: 2rem;
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-titles{
    margin-left: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-titless{
    margin-left: 2rem;
    font-weight: bold;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}


.top-descriptions{
    margin-left: 2rem;
    margin-right: 2rem;
    width: 375px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
}

.mid-descriptions{
    margin-left: 2rem;
    margin-right: 2rem;
    width: 320px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
}

.bot-descriptions{
    margin-left: 2rem;
    margin-right: 2rem;
    width: 180px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
}


.favorates-box{
    width: 415px;
    height: 215px;
    display: block;
    margin-left: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    background-color: rgb(144, 129, 108);
    padding-top: .5rem;
    color: white;
}

.bottom-left{
    vertical-align: top;
    display: inline-block;
    width: 215px;
    height: 10px;
    margin-top: 1px;
}


.bottom-vertical-line{
     width: 1.5px;
    height:100px;
    display: inline-block;
    background-color: rgb(144, 129, 108);
}


.bottom-right{
    vertical-align: top;
    display: inline-block;
     width: 215px;
    height: 10px;
   margin-top: 1px;
}


.classics2{
    width: 115px;
    height: 35px;
    font-size: 2rem;
    text-align:center;
   margin-top: .5rem;
    margin-left:6.5rem ;
    line-height: 2rem;
    display: inline-block;

}

.classics3{
    width: 115px;
    height: 15px;
    text-align: center;
    margin-top: .5rem;
    font-size: 2rem;
    margin-left:6rem ;
    line-height:2rem;
    display: inline-block;
}

.bottom-line{
    width: 450px;
    height: 30px;
    background-color: rgb(144, 129, 108);
    
}

.bottom-line-info{
    width: 425px;
    text-align: center;
    margin: .5rem;
    line-height: 1rem;
    padding: .5rem;
}

.descriptions2{
    margin-left: 9rem;
    margin-right: 2rem;
    line-height: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.descriptionss2{
    margin-left: 10rem;
    margin-right: 2rem;
    line-height: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

