@charset "UTF-8";

@font-face {
  font-family: "palette";
  src: url("fonts/PaletteMosaic-Regular.ttf");
}

html{
    font-size: 7px;
    line-height: 1.3;
}

body{
    font-size: 0;
    background-color:white;
}

ul{
    padding: 0;
}

.page-body{
width: 75%;
height:  ;
margin:auto;
min-width: 1323px;
max-width: 1780px;
position: relative;
background-color: rgb(27, 104, 179);
}

.back-button{
    width: 125px;
    height: 25px;
    color:  rgb(251, 188, 20);
    font-size: 3rem;
    padding: 1rem;
    margin: 2rem;
     border: solid, 2px;
    border-color:  rgb(251, 188, 20);
    display: inline-block;
     vertical-align: top;
}


.party-items{
color: black;
    font-size: 2.5rem;
    font-family:'Arial Narrow Bold';
    width: 80px;
    margin-left: 2rem;
    margin-top: 2rem;
}
#w-blank-2{
 right: 0px;
    top:0px;
    text-align: right;
      width: 125px;
    height: 250px;
     background-color: white;
    position: absolute;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
    display: inline-block;
    vertical-align: top;
}

#envelope-top{
border-color: transparent transparent rgb(251, 188, 20) transparent;
border-style: solid;
border-width: 0px 400px 400px 400px;
height: 0px;
width: 0px;
margin: auto;
}

#envelope{
  
 background-color: rgb(251, 188, 20);
      position: relative;
    width: 800px;
    height: 500px;
    margin: auto;
     margin-bottom: calc(10rem * 1.3);
}


.card{
    background-color: white;
       position: relative;
    width: 95%;
    height: 90%;
    margin-right: calc(2rem * 1.3);
    margin-left: calc(2rem * 1.3);
}



#get-well{
 font-family: palette;
 font-size: 18rem;
 color: rgb(27, 104, 179);
 text-align: center;
}



#soon{
   font-family: palette;
 font-size: 18rem;
 color: rgb(27, 104, 179);
 text-align: center;
}

#envelope-left{
border-color: transparent transparent rgb(251, 188, 20) transparent;
border-style: solid;
border-width: 325px 325px 325px 325px;
height: 0px;
width: 0px;
transform: rotate(225deg);
position: absolute;
display: inline-block;
left: -310px;
top: 125px;

}

#envelope-right{
border-color: transparent transparent rgb(251, 188, 20) transparent;
border-style: solid;
border-width: 325px 325px 325px 325px;
height: 0px;
width: 0px;
transform: rotate(135deg);
position: absolute;
display: inline-block;
left: 470px;
top: 130px;
}

