@charset "UTF-8";

@font-face {
  font-family: "lavish";
  src: url("fonts/LavishlyYours-Regular.ttf");
}

html{
    font-size: 7px;
    line-height: 1.3;
}

body{
    font-size: 0;
    background-color:rgb(27, 104, 179);
}

ul{
    padding: 0;
}

.page-body{
width: 75%;
height:  ;
margin:auto;
min-width: 1323px;
position: relative;
background-color: white;
}

.back-button{
    width: 125px;
    height: 25px;
    color:  black;
    font-size: 3rem;
    padding: 1rem;
    margin: 2rem;
     border: solid, 2px;
    border-color:  black;
    display: inline-block;
     vertical-align: top;
}


.date-items{
color: black;
    font-size: 2.5rem;
    font-family:'Arial Narrow Bold';
    width: 80px;
    margin-left: 2rem;
    margin-top: 2rem;
}
#w-blank-2{
 right: 0px;
    top:0px;
    text-align: right;
      width: 125px;
    height: 250px;
     background-color: white;
    position: absolute;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
    display: inline-block;
    vertical-align: top;
}

#first-line{
font-family: lavish;
font-size: 10rem;
color: rgb(251, 188, 20);
}

#second-line{
  font-family: lavish;
font-size: 15rem;
 color: black;

}

#third-line{
  font-family: lavish;
font-size: 20rem;
 color: rgb(251, 188, 20);
}


#fourth-line{
  font-family: lavish;
font-size: 25rem;
 color: black;
}

.my-pics{
    width: 700px;
    height: 900px;
    position: absolute;
    top: 450px;
    
}
