@charset "UTF-8";

@font-face {
  font-family: "moirai";
  src: url("fonts/MoiraiOne-Regular.ttf");
}

html{
    font-size: 7px;
    line-height: 1.2;
}

body{
    font-size: 0;
}

ul{
    padding: 0;
}

.page-body{
width: 100%;
height: 1200px;
margin:auto;
background-color: rgb(27, 104, 179);
min-width: 800px;
position: relative;
}

.back-button{
    width: 125px;
    height: 25px;
    color: white;
    font-size: 3rem;
    padding: 1rem;
    margin: 2rem;
     border: solid, 2px;
    border-color: white;
    display: inline-block;
     vertical-align: top;
}

.clean-items{
color: black;
    font-size: 2rem;
    font-family: monospace;
    width: 50px;
    margin-left: 1rem;
}

#w-blank-1{
      width: 150px;
    height: 300px;
    right: 0px;
    top: 0px;
     background-color: white;
    position: absolute;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
    display: inline-block;
    vertical-align: top;
   
}
.page-text{
   font-family: moirai;
    color:  rgb(251, 188, 20);
    /* width: 500px;
    height: 500px;
    background-color: white; */
    text-align: right;
    position: relative;
    top: 100px;
    margin: 10rem;
    margin-left: 300px;
    display: inline-block;
  
}


#spring-text{
    font-size: 24rem;
}
#cleaning-text{
    font-size: 22rem;
}


.bubble-window{
    margin: auto;
    width: 50%;
    height: 900px;
    position: relative;
bottom: 600px;
}



#bub-1{
     width: 300px;
    height: 300px;
     left: 0px;
    border-radius: 50%;
    position: relative;
    border: solid, 5px;
    border-color: white
}


#bub-2{
     width: 200px;
    height: 200px;
    border-radius: 50%;
     left: 700px;
     bottom: 100px;
    position: relative;
    border: solid, 4px;
    border-color: white
    /* display: inline-block; */
}



#bub-3{
     width: 400px;
    height: 400px;
    border-radius: 50%;
     left: 900px;
    bottom: 100px;
    /* position: absolute; */
    position: relative;
    border: solid, 3px;
    border-color: white
    /* display: inline-block; */
}



#bub-4{
     width: 250px;
    height: 250px;
    right: 300px;
    bottom: 400px;
    border-radius: 50%;
    position: relative;
    border: solid, 3px;
     border-color: white
    /* display: inline-block; */
}


#bub-5{
     width: 150px;
    height: 150px;
    border-radius: 50%;
     right: 200px;
    bottom: 300px;
    position: relative;
    border: solid, 2px;
     border-color: white
    /* display: inline-block; */
    
}


#bub-6{
 left: 700px;
    bottom: 500px;
    border-radius: 50%;
      width: 300px;
    height: 300px;
    /* position: absolute; */
    position: relative;
    border: solid, 5px;
    border-color: white
    /* display: inline-block; */
}

#bub-7{
 left: 700px;
    bottom: 600px;
    border-radius: 50%;
      width: 200px;
    height: 200px;
    /* position: absolute; */
    position: relative;
    border: solid, 2px;
    border-color: white
    /* display: inline-block; */
}

#bub-8{
 left: px;
    bottom: 1100px;
    border-radius: 50%;
      width: 600px;
    height: 600px;
    /* position: absolute; */
    position: relative;
    border: solid, 4px;
    border-color: white
    /* display: inline-block; */
}

