@charset "UTF-8";

html{
    font-size: 7px;
    line-height: 1.2;
}

body{
    font-size: 0;
    background-color: rgb(27, 104, 179);
}

ul{
    padding: 0;
}

.page-text{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 10rem;
   
    /* line-height: 15rem; */
}

#daydreams-text{
    font-size: 20rem;
}

span{
    font-size: 7rem;
}

#grocery-text{
    font-size: 13rem;
}

#worker-text{
    font-size: 17.5rem;
}

#harmonic-text{
    font-size: 3.5rem;
}

.grocery-lists{
    margin: auto;
    width: 1000px;
    height: 600;
}

.sick-items{
color: black;
    font-size: 3rem;
    font-family: cursive;
    width: 100px;
    margin-left: 1rem;
}

.party-items{
color: black;
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100px;
    margin-left: 8rem;
    margin-top: 2rem;
}

.bbq-items{
color: black;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100px;
    margin-left: 8rem;
    margin-top: 2rem;
}

.clean-items{
color: black;
    font-size: 2rem;
    font-family: monospace;
    width: 50px;
    margin-left: 1rem;
}

.chicka-items{
color: black;
    font-size: 2rem;
    font-family: fantasy;
    width: 50px;
    margin-left: 1rem;
}


#y-blank-1{
     width: 150px;
    height: 300px;
     left: 500px;
    bottom: 550px;
    transform: rotate(45deg);
   background-color: rgb(251, 188, 20);
    position: absolute;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
}


#y-blank-2{
     width: 200px;
    height: 400px;
     left: 1100px;
    bottom: 750px;
    transform: rotate(95deg);
    background-color: rgb(251, 188, 20);
    position: absolute;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
}



#y-blank-3{
     width: 250px;
    height: 400px;
     left: 1300px;
    bottom: 300px;
    transform: rotate(10deg);
    background-color: rgb(251, 188, 20);
    position: absolute;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
}



#y-blank-4{
     width: 250px;
    height: 350px;
     left: 1500px;
    bottom: 450px;
    transform: rotate(27deg);
    background-color: rgb(251, 188, 20);
    position: absolute;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
}


#y-blank-5{
     width: 150px;
    height: 250px;
     left: 800px;
    bottom: 450px;
    transform: rotate(80deg);
    background-color: rgb(251, 188, 20);
    position: absolute;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
    
}


#w-blank-1{
 left: 1100px;
    bottom: 300px;
    transform: rotate(5deg);
      width: 150px;
    height: 300px;
     background-color: white;
    position: absolute;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
}

#w-blank-2{
 left: 800px;
    bottom: 200px;
    transform: rotate(-45deg);
      width: 250px;
    height: 400px;
     background-color: white;
    position: absolute;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
}

#w-blank-3{
 left: 1300px;
    bottom: 800px;
    transform: rotate(-5deg);
      width: 200px;
    height: 250px;
     background-color: white;
    position: absolute;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
}

#w-blank-4{
 left: 1500px;
    bottom: 100px;
    transform: rotate(98deg);
      width: 250px;
    height: 400px;
     background-color: white;
    position: absolute;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
}

#w-blank-5{
 left: 1000px;
    bottom: 500px;
    transform: rotate(42deg);
      width: 250px;
    height: 400px;
     background-color: white;
    position: absolute;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
}

#w-blank-6{
 left: 500px;
    bottom: 900px;
    transform: rotate(-22deg);
      width: 200px;
    height: 250px;
     background-color: white;
    position: absolute;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
}


#w-blank-7{
     width: 200px;
    height: 350px;
     left: 1100px;
    bottom: 750px;
    transform: rotate(125deg);
    background-color: white;
    position: absolute;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
}






/* setting font size to 0 on the body removes default spacing between items */

/* without user select none option text can be accidentally highlighted instead of looing like a button */




/* position absolute is for taking an item out of the natural code flow say for overlapping onto another or dropping off the page */
