@charset "UTF-8";

html{
    font-size: 7px;
    line-height: 1.2;
}

body{
    font-size: 0;
    background-color: black;
}

ul{
    padding: 0;
}

.page-body{
width: 75%;
height: auto;
margin:auto;
min-width: 1060px;
background-color: rgb(27, 104, 179);
}

.page-text{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 10rem;
   
    /* line-height: 15rem; */
}

#daydreams-text{
    font-size: 20rem;
}
span{
    font-size: 7rem;
}
#grocery-text{
    font-size: 13rem;
}
#worker-text{
    font-size: 17.5rem;
}
#harmonic-text{
    font-size: 3.5rem;
}



.grocery-lists{
    margin: auto;
    width: 90%;
    height: 900px;
    position: relative;
bottom: 600px;
}

.sick-items{
color: black;
    font-size: 3rem;
    font-family: cursive;
    width: 100px;
    margin-left: 1rem;
}

.party-items{
color: black;
    font-size: 2.5rem;
    font-family:'Arial Narrow Bold';
    width: 50px;
    margin-left: 8rem;
    margin-top: 2rem;
}

.clean-items{
color: black;
    font-size: 2rem;
    font-family: monospace;
    width: 50px;
    margin-left: 1rem;
}

.chicka-items{
color: black;
    font-size: 2rem;
    font-family: fantasy;
    width: 50px;
    margin-left: 1rem;
}


#y-blank-1{
     width: 150px;
    height: 300px;
     right: -1px;
    transform: rotate(45deg);
   background-color: rgb(251, 188, 20);
    position: absolute;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
    margin-right: ;
}

#y-blank-3{
     width: 150px;
    height: 300px;
     right: -200px;
    bottom: px;
    transform: rotate(10deg);
    background-color: rgb(251, 188, 20);
    position: absolute;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
    margin-right: 50%;
}



#y-blank-4{
     width: 150px;
    height: 250px;
    right: -100px;
    bottom: 400px;
    margin-right: 25%;
    transform: rotate(27deg);
    background-color: rgb(251, 188, 20);
    position: absolute;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
}


#w-blank-1{
 right: 500px;
    top: 800px;
    transform: rotate(50deg);
      width: 150px;
    height: 300px;
     background-color: white;
    position: absolute;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
    margin-right: 10%;
}

#w-blank-2{
 right: -1px;
    top: 300px;
    transform: rotate(-45deg);
      width: 200px;
    height: 300px;
     background-color: white;
    position: absolute;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
    margin-right: 25%;
}

#w-blank-3{
 right: -200px;
 bottom: 200px;
    transform: rotate(-5deg);
      width: 200px;
    height: 250px;
     background-color: white;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
    position: absolute;
    margin-right: 10%;
}

#w-blank-4{
 left: 200px;
    bottom: 25px;
    transform: rotate(98deg);
      width: 150px;
    height: 300px;
     background-color: white;
    position: absolute;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
}

#w-blank-5{
 left: 550px;
    bottom: 100px;
    transform: rotate(42deg);
      width: 150px;
    height: 300px;
     background-color: white;
    position: absolute;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
    
}

#w-blank-6{
    right: -10px; 
    top: 700px;
    transform: rotate(-22deg);
      width: 200px;
    height: 250px;
     background-color: white;
    position: absolute;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
    margin-right: ;
    
}


#w-blank-7{
     width: 200px;
    height: 350px;
     left: 800px;
    top: 400px;
    transform: rotate(125deg);
    background-color: white;
    position: absolute;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
}

#w-blank-8{
     width: 200px;
    height: 250px;
     right: -10px;
    bottom: 500px;
    transform: rotate(80deg);
    background-color: white;
    position: absolute;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
    margin-top: 60%;
}

#w-blank-9{
     width: 200px;
    height: 350px;
  right: -500px; 
 bottom: 100px;
 margin-right: 50%;
    transform: rotate(36deg);
    background-color: white;
    position: absolute;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
}

#w-blank-10{
     width: 200px;
    height: 250px;
     left: 600px;
    bottom: 300px;
    transform: rotate(80deg);
    background-color: white;
    position: absolute;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
}

#w-blank-11{
     width: 150px;
    height: 300px;
     right: -10px;
    top: -1px;
    transform: rotate(280deg);
    background-color: white;
    position: absolute;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
    margin-bottom: 30%;
}

#w-blank-12{
     width: 150px;
    height: 250px;
     right: 200px;
   top: -1px;
    transform: rotate(80deg);
    background-color: white;
    position: absolute;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
    margin-right: 15%;
}


.more-margin{
    margin-left:800px;
    margin-top: 300px;
}

.less-margin{
    margin-left: 400px;
    margin-top: 100px;
}

#y-blank-5{
     width: 150px;
    height: 250px;
     left: px;
    bottom: px;
    transform: rotate(80deg);
    background-color: rgb(251, 188, 20);
    position: absolute;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
     transition: all 1s ease;
    
}


#y-blank-2{
     width: 200px;
    height: 400px;
     left: 300px;
     bottom: 100px;
    transform: rotate(295deg);
    background-color: rgb(251, 188, 20);
    position: absolute;
    border: solid, 1px;
    border-color: rgb(117, 115, 115);
    margin-right: 40%;
    transition: all 1s ease;
}

span{
    cursor: pointer;
    user-select: none;
}




/* setting font size to 0 on the body removes default spacing between items */

/* without user select none option text can be accidentally highlighted instead of looing like a button */




/* position absolute is for taking an item out of the natural code flow say for overlapping onto another or dropping off the page */
