@charset "UTF-8";

html{
    font-size:8px;
    line-height:2rem;
}

@font-face {
 font-family: Arial, Helvetica, sans-serif;
}


body {
    margin: 0;
  font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    display: flex;
    
}

.top-mandalas{
width: auto;
margin: auto;
}

.board{
    width: auto;
    /* min-width: 25%; */
    height: 750px;
    margin: auto;
    background-color: black;
display: flexbox;
position: relative;
  border: 3px solid white;
  margin-top: 50px;
}

.welcome{
    font-size: 2.5rem;
    text-align: center;
    /* right: 2rem; */
    font-family: "chalk";
    position: relative;
    color: white;
    margin: 2rem;
}

.dalas{
   width: 100px;
    height: 70px;
    /* position: relative; */
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.dalas>img{
   width:100%;
height:100%;
}


.name{
    font-size: 6rem;
    position: relative;
    text-align: center;
    /* right: 2rem; */
    margin: .5rem;
      font-family: "chalk";
}


#red-1{
    color: rgb(161, 76, 76);
}
#red-2{
    color: rgb(200, 91, 14);
}
#orange{
    color: rgb(216, 141, 71);
}
#yellow-1{
    color: rgb(211, 178, 47);
}
#yellow-2{
    color: rgb(186, 203, 90);
}
#green-1{
    color: rgb(116, 191, 87);
}
#green-2{
    color: rgb(45, 148, 138);
}
#blue-1{
    color: rgb(14, 147, 200);
}
#blue-2{
    color: rgb(96, 98, 211);
}
#purp-1{
    color: rgb(126, 72, 213);
}
#purp-2{
    color: rgb(160, 90, 203);
}


.title-box{
  width: auto;
    min-width: 25%;
    height: 95px;
    margin: auto;
display: block;
position: relative;
  border: 3px solid white;
}

.side-box{
    height: 240px;
    width: 280px;
    font-size: 3.5rem;
    color: white;
    border: 2px solid white;
    text-align: center;
    line-height: 2rem;
    display: inline-block;
    vertical-align: top;
    /* margin-top: 40px; */
    /* padding: 2rem; */
 position: relative;
 box-sizing: border-box;
}

.help{
    display: inline-block;
    vertical-align: top;
}

.chakra{
    font-size: 2.5rem;
    color: rgb(200, 91, 14);
    text-align: center;
    margin-bottom: 1rem;
}

.details{
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin-bottom: 3rem;
}

.sacred{
    font-size: 2.5rem;
    color: rgb(116, 191, 87);
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.chi{
    font-size: 2.5rem;
   color: rgb(216, 141, 71);
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.yoga{
    font-size: 2.5rem;
   color: rgb(14, 147, 200);
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}


.platter-box{
    height: 225px;
    width: auto;
    font-size: 3.5rem;
    position: relative;
    color: white;
    text-align: center;
    line-height: 2rem;
    border: 2px solid white;
    padding: 2rem;

}

.yin{
    font-size: 2.5rem;
  color: rgb(211, 178, 47);
    /* font-family: chalk; */
    text-align: left;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.manda{
    font-size: 2.5rem;
  color: rgb(126, 72, 213);
    /* font-family: chalk; */
    text-align: left;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.manda2{
    font-size: 1.5rem;
    color: white;
    /* font-family: chalk; */
    text-align: left;
    margin-bottom: 3rem;
}

#prices{
    font-size: 2rem;
    font-weight: 300;
}

.bottom-mandalas{
width: auto;
margin: auto;
}


  